body{
    background-color: rgba(0, 0, 0, 0.851);
}

nav{
    width: 20%;
    float: left;

}

ul{
    list-style : none;
    background-color: #005B9A;
    margin: 0px;
    padding: 20px;
    border-radius: 15px;
    
}

li{
    background-color: #0191C8;
    border: 1px solid white;
    font-size: medium;
    font-family: sans-serif;
    color: white;
    text-align: center;
    padding: 10px;
}

li:hover{
    background-color: #027bab;;
}

.header{
    text-align: center;
    border-radius: 15px;
    margin: 10px 0px;
    padding: 5px;
    background-color: #005B9A;
    color: white;
    font-family: sans-serif;
}
.header h1{
    margin :0px;
}

.menu button{
    background-color: #005B9A;
    width: 70%;
    font-size: large;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.post-section{
    background-color: #0191C8;
    color: white;
    font-family: sans-serif;
    width: 56%;
    margin: auto;
    border: 1px solid white ;
    border-radius: 10px;
    padding: 10px;
}

hgroup h1{
    background-color: tomato;
    font-size: x-large;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

hgroup h2{
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: medium;
    color: azure;    
}


.follow-stats h3{
    display: inline-block;
    margin: 10px 10px;
}

img{
    float: left;
}

.likes-foot{
    margin: 20px 10px;
}